<style>
  .example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
  }
  .login-card {
    max-width: 400px;
    margin: auto;
    margin-top: 15px;
  }
  .message-card {
    width: 400px;
  }
  .list-card {
    width: 400px;
    height: 60%;
    max-height: 60%;
    overflow-y: auto;
  }
  .list-messages {
    width: 50%;
    height: 80%;
  }
</style>
<mat-card class="login-card" *ngIf="username == null">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title></mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-form-field>
    <input matInput #nome />
  </mat-form-field>
  <mat-card-content>
    <p>
      Por Favor Digite um nome.
    </p>
    <p *ngIf="erro != null">
      {{ erro }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="cadastrarNome(nome.value)">Continuar</button>
  </mat-card-actions>
</mat-card>
<mat-grid-list cols="4" rowHeight="1:1">
  <mat-grid-tile [colspan]="2">
    <mat-card class="message-card" *ngIf="username !== null && !erro">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ username }}</mat-card-title>
        <mat-card-subtitle>Users Online: {{ online }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p *ngIf="messageTo.user.id == null; else elseBlock">
          Selecione uma pessoa para mandar mensagem
        </p>
        <ng-template #elseBlock>
          <p>User: {{ messageTo.user.name }}</p>
          <p>
            <mat-form-field>
              <input matInput [(ngModel)]="messageTo.message" />
            </mat-form-field>
          </p>
        </ng-template>
        <mat-card-actions>
          <button
            mat-button
            (click)="enviar()"
            *ngIf="messageTo.user.id != null"
          >
            ENVIAR
          </button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="2">
    <mat-card class="list-messages" *ngIf="username !== null">
      <mat-card-header>
        <mat-card-title>Messages</mat-card-title>
      </mat-card-header>
      <mat-list role="list" *ngIf="messageTo.user.name == null">
        <mat-list-item *ngFor="let message of listMessages"
          >{{ message.messageTo.message.message }} - FROM:
          {{ message.messageFrom.message.name }}</mat-list-item
        >
      </mat-list>
      <mat-list role="list" *ngIf="messageTo.user.name !== null">
        <mat-list-item *ngFor="let message of listMessagesFilter"
          >{{ message.messageTo.message.message }} - FROM:
          {{ message.messageFrom.message.name }}</mat-list-item
        >
      </mat-list>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <mat-card class="list-card" *ngIf="username">
      <mat-card-title>Pessoas Online</mat-card-title>
      <mat-selection-list [multiple]="false">
        <mat-list-option
          *ngFor="let user of listUsers"
          (click)="selectUser(user)"
        >
          {{ user.name }}
        </mat-list-option>
      </mat-selection-list>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
